/* FFF2F9 */
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

body {
	font-size: 16px;
	line-height: 1.5em;
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-around;
}

.wrapper > * {
	flex: 1 100%;
	padding: 10px;
}

.aside {
	background-color: #333;
	color: #FFF;
	padding: 0 30px 0 30px;
	max-width: 300px;
}

.skillsContainer {
	max-width: 300px;
	margin: 0 auto;
}

.circle {
	background: #7e0b5e;
	color: #FFF;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	vertical-align: top;
	padding: 2px;
}

@media (max-width: 719px) {
	.aside {
		max-width: none;
	};
}

@media all and (min-width: 720px) {
	#workExperience, #projects, #education {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	#workExperience h2, #projects h2, #education h2 {
		flex: 1 100%;
	}

	.work-entry, .project-entry, .education-entry {
		flex: 1 500px;
	}

	.work-entry {
		max-width: 500px;
	}

	.aside {
		flex: 1 auto;
	};
}

@media all and (min-width: 720px) {
	#header {
		order: 1;
	}

	.aside {
		order: 2;
	}

	.main {
		flex: 3 0px;
		order: 3;
	}

	#footer {
		order: 4;
	};
}

#topContacts {
	line-height: 30px;
	padding-left: 40px;
	max-width: 300px;
	margin: 0 auto;
}

.clear-fix {
	overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
	padding: 10px 5% 30px 5%;
}

.education-entry {
	margin-bottom: 20px;
}

#workExperience, #projects, #education, #skills {
	margin-bottom: 70px;
}

.onlineClasses, #skills {
	margin-top: 70px;
}

#header, #footer {
	color: #FFF;
	background-color: #000;
}

#footer li {
	margin-left: 30px;
}

h1 {
	font-family: 'Merriweather';
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	display: inline;
}

h2 {
	font-family: 'Merriweather';
/*  background-color:#222;
  color:#FFF;

   */
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 8px;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	padding: 10px;
	text-align: center;
}

h2 span {
	border-bottom: 2px solid black;
}

h3 {
	font-family: 'Merriweather';
	border-bottom: 1px solid white;
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 22px;
	line-height: 35px;
	text-align: center;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

h2,
h3,
h4,
h5 {
	padding: 10px 0%;
}

.biopic {
	padding: 30px;
	width: 200px;
	display: block;
	margin: auto;
	border-radius: 50%;
}

#name {
	text-shadow: 4px 3px 0 #000,9px 8px 0 rgba(0,0,0,0.15);
	display: block;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 7px;
	text-align: center;
}

.role {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.location-text {
	color: #555;
}

.date-text {
	padding-top: 0.5em;
	padding-bottom: 0.4em;
}

.date {
	background-color: #7e0b5e;
	border-radius: 2px;
	padding: 6px 10px 6px 10px;
	color: #FFF;
	margin-right: 10px;
}

a {
	color: #000;
	text-decoration: none;
}

.title {
	font-family: 'Merriweather';
	font-size: 23px;
}

.welcome-message {
	font-family: 'Merriweather';
	font-style: italic;
	font-size: 18px;
	line-height: 28px;
	margin-top: 20px;
	margin-bottom: 70px;
	text-align: justify;
}

.skills {
	display: inline-block;
}

.skills span {
	line-height: 35px;
}

.skillsBar {
	border: 2px solid #7e0b5e;
	background-color: #333;
	border-radius: 2px;
	width: 180px;
	height: 15px;
	margin: 10px;
	float: left;
}

.skillsFill {
	background-color: #7e0b5e;
	height: 100%;
	float: left;
}

i {
	color: #7e0b5e;
}

.skills-10 {
	width: 10%;
}

.skills-20 {
	width: 20%;
}

.skills-30 {
	width: 30%;
}

.skills-40 {
	width: 40%;
}

.skills-50 {
	width: 50%;
}

.skills-60 {
	width: 60%;
}

.skills-70 {
	width: 70%;
}

.skills-80 {
	width: 80%;
}

.skills-90 {
	width: 90%;
}

.skills-100 {
	width: 100%;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 10px;
}

.center-content {
	padding: 2.5% 5%;
}

ul {
	list-style-type: none;
}

img {
	padding: 10px;
}

span {
	padding: 5px;
}

#map {
	height: 100%;
}

#mapDiv {
	height: 400px;
	width: 100%;
	margin-bottom: 7%;
}
